<%= dt_response(@datatable) do |new_row, row| %>
  <% new_row << row.job_time.strftime("%d.%m.%Y-%H.%M.%S") %>
  <% new_row << %(
    <a href = '/jobs/#{row.job_id}' class = 'btn btn-link btn-xs'> #{row.job_name.truncate(15)}</a>
    ) %>
  <% new_row << "<a href = '/organizations/#{row.organization_id}' class = 'btn btn-link btn-xs'> #{row.organization_name.truncate(15)}</a>" %>
  <% new_row << row.host %>
  <% new_row << row.port %>
  <% new_row << row.protocol %>
  <% if row.state_id == 'open' %>
    <% color = 'text-danger' %>
  <% elsif row.state_id == 'filtered' %>
    <% color = 'text-warning' %>
  <% else %>
    <% color = 'text-success' %>
  <% end %>
  <% new_row << "<span class = '#{color}'> #{row.port_state} </span>" %>
  <% if row.service_legality_id == 0 %>
    <% color = 'text-danger' %>
  <% elsif row.service_legality_id == 2 %>
    <% color = 'text-danger' %>
  <% elsif row.service_legality_id == 3 %>
    <% color = 'text-muted' %>
  <% else %>
    <% color = 'text-success' %>
  <% end %>
  <% new_row << "<span class = '#{color}'> #{row.service_legality} </span>" %>
  <% if row.history_legality_id == 0 %>
    <% color = 'text-danger' %>
  <% elsif row.history_legality_id == 2 %>
    <% color = 'text-warning' %>
  <% elsif row.history_legality_id == 1 %>
    <% color = 'text-success' %>
  <% else %>
    <% color = 'text-muted' %>
  <% end %>
  <% new_row << "<span class = '#{color}'> #{row.history_legality} </span>" %>
  <% new_row << row.service %>
  <% new_row << row.product %>
<% end %>
