h3
  span.text-primary
    = ScannedPort.model_name.human count: 2

= dt_big_table([{name: t('activerecord.attributes.scanned_port.job_time'), sort: :desc, html_class: 'w10'},\
                {name: t('activerecord.attributes.scanned_port.job_id'), html_class: 'w5'},\
                {name: t('activerecord.attributes.service.organization_id'), html_class: 'w25'},\
                {name: t('activerecord.attributes.scanned_port.host'), html_class: 'w10'},\
                {name: t('activerecord.attributes.scanned_port.port'), html_class: 'w5'},\
                {name: t('activerecord.attributes.scanned_port.protocol'), html_class: 'w5'},\
                {name: t('activerecord.attributes.scanned_port.state'), html_class: 'w10'},\
                {name: t('activerecord.attributes.service.legality'), html_class: 'w10'},\
                {name: t('activerecord.attributes.scanned_port.legality'), html_class: 'w10'},\
                {name: t('activerecord.attributes.scanned_port.service'), html_class: 'w5'},\
                {name: t('activerecord.attributes.scanned_port.product'), html_class: 'w5'}],
               '/scanned_ports/datatable')
